.hero {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(8, 0, 58, 0.5), rgba(33, 8, 49, 0.7)),
    url("../../assets/images/background-image.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  line-height: 1.4;
  text-align: center;
}

.hero button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero button .icon {
  margin-left: 0.5rem;
  transition: all 0.2s linear;
}

.hero h2 {
  position: absolute;
  bottom: 10px;
}

.hero button:hover {
  .icon {
    transform: translateX(0.1rem);
  }
}
