.categories-section {
  margin: 80px 0 40px;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10px;
  margin-top: 40px;
}

.category {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.category h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: 700;
  font-size: 24px;
  transition: all 0.3s linear;
}

.category:hover {
  img {
    width: 800px;
  }
  h2 {
    opacity: 100;
    transform: translateY(-20px);
  }
}
